header{
    border-style: solid;            
    }

h1 {
    text-align: center;
    text-shadow: 1px 1px;
    vertical-align: top;
    }

body {
    background: linear-gradient(90deg, rgba(0,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    border: 3px solid black;
    }
    
nav {
    width: 60%;
    margin: auto;
    }

    /* les mots de la navigation */
li,a {
    display: inline;
    text-decoration: none;
    color: orange;
    padding-left: 17px;
    }
    a:hover {
        background-color: white;
       }
    
#logo {
  float: left;
    }

.grid-container {
    grid-template-areas: 
        'main main main main right';


    grid-template-rows: 600px;
    display: grid;
    grid-column-gap: 3px;
        
      
    }
main {
    grid-area: main;
    color: white;
    
}
.right {
    grid-area: right;
    background-color:rgb(0,212,255,1);
    border: solid;
    border-width: 3px;
    
    }
    /* image des nouvelles */
    .right img {
        float: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #7b019d 14%, #f42525 100%);
    text-align: center;
    padding: 10px;

    
}
  /* image des nouvelles */  
td img {
    margin-bottom: 40px;
}

td #havefun {
    height: 120px;
    width: 200px;
}


    
#Prénom {
    margin-bottom: 30px;
    margin-left: 50px;
    height: 30px;
    width: 150px;
}
 
#Prenom {
    margin-left: 50px;
}

#Nom {
    margin-left: 30px;
    height: 30px;
    width: 150px;
}

#Name {
    margin-left: 30px;
}

#Courriel {
    margin-left: 19px;
    height: 30px;
    width: 150px;
}

#Mail {
    margin-left: 19px;
}

#Discord {
    margin-left: 50px;
    height: 30px;
    width: 150px;
}

#Gamer {
    margin-left: 50px;
}

#jeux {
       margin-top: 30px;
       margin-left: 30px;
       height: 30px;
     width: 162px;
}

#Game {
    margin-left: 30px;
}
 
#lstdispo {
    margin-left: 12px;
    height: 30px;
     width: 162px;
}

#liste {
    margin-left: 45px;
}

#raison {
    height:100px;
    width: 568px;
}

#Date {
    margin: 30px;

}


input[type=Submit] {
    margin-left: 175px;
    height: 50px;
    width: 100px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border-color: black;
}