body {
    background-color: #ff0073;
}

#titre 
{
text-align: center;
color:white;
}

#comment {
    color: yellow;
    margin-top: 90px;
    margin-left: 50px;
}

#boumba {
    height: 50px;
    width: 200px;
    color: white;
    background: linear-gradient(to right, #4600eb 0%, #ff8ad4 80%);;
    margin-top: 60px;
    margin-left: 80px;
}

#nom 
{
 height: 40px;
 width: 300px;
 background-color: yellow;
 color:black;
 border-color: black;
 border-radius: 30px;

}